/.gradle
/build
/*/build
app_onyxlauncher/src/main/assets/components/jre
/app_onyxlauncher/src/main/assets/components/jre-new/
/app_onyxlauncher/src/main/assets/components/jre-21/
/app_onyxlauncher/src/main/assets/components/jre-25/
/app_onyxlauncher/src/main/assets/components/jre-*/
local.properties
.idea/
app_onyxlauncher/.cxx/
.vs/
/curseforge_key.txt
/app_onyxlauncher/libs/ltw-release.aar
*.jks
*.keystore
*.apk
*.aab
*.log
hs_err_*.log
latestlog*
launcher_profiles*.json
tmp_*.json
chrome_*.txt
/onyx_*.png
/onyx_*.xml
screen_after_patch.png
